<div class="row">
    <div class="col-md-5">
        <div class="jumbotron" style="background-color: white;">
            <h1 class="display-4">
                Boost your workflow!
            </h1>
            <p class="lead">with transcend build and track all your projects.</p>
            <hr class="my-4">
            <p>
                It for all your team members to plan and share all the awesome work.
            </p>
            <a class="btn btn-primary btn-lg shadow" routerLink="create-account" role="button">
                try it now!
            </a>
        </div>
    </div>
    <div class="col-md-5">
        <img src="assets/images/home.png" 
            width="700px" 
            height="400px"
            style="margin-top: 20px; padding-right: 20px; padding-left: -10px;">
    </div>
</div>