<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav #drawer class="sidenav theme-color-2 " fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="white">
      <p style="font-family: Arial, Helvetica, sans-serif;"> <br> Browse projects</p>
    </mat-toolbar>
    <mat-nav-list>
      <br>
      <!--icon-->
      <div mat-list-item class="menu-button" >
        <a mat-list-item routerLink="workspace" routerLinkActive="active-link" (click)="handsetToggle(drawer, isHandset$ )">
          <span class="material-icons menu-icons">
            business_center
            </span>
          <span class="white link-menu">Workspace</span>
        </a>
      </div>
      <div mat-list-item class="menu-button">
        <a mat-list-item routerLink="dashboard" routerLinkActive="active-link" (click)="handsetToggle(drawer, isHandset$ )">
          <span class="material-icons menu-icons">
            dashboard
            </span>
          <span class="white link-menu">Dashboard</span> </a>
      </div>
      <div mat-list-item class="menu-button">
        <a mat-list-item routerLink="people" routerLinkActive="active-link" (click)="handsetToggle(drawer, isHandset$ )">
          <span class="material-icons menu-icons">
            group
            </span>
          <span class="white link-menu">people</span> </a>
      </div>
    </mat-nav-list>

    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <button mat-button [matMenuTriggerFor]="menu" >
          <div mat-card-avatar #avatar class="example-header-image" ></div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="profile">profile</button>
          <button mat-menu-item (click)="signOut()">sign out</button>
        </mat-menu>

      </mat-grid-tile>
      <mat-grid-tile>
        <svg class="bi bi-bell-fill menu-icons" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
        </svg>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav>


  <mat-sidenav-content class="over-shadow2">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>